<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @jedi.name %>
</p>

<p>
  <b>Padawan IDs:</b><br />
  <% @jedi.apprenticeships.each do|padawan| %>
  <%= padawan.id %><br />
  <% end %>
</p>


<%= link_to 'Edit', edit_jedi_path(@jedi) %> |
<%= link_to 'Back', jedis_path %>
